---
---

@import "{{ site.theme }}";


.subtitlePost{
  margin-top: -15px;
  font-style: italic;
  font-size: 13px;
}

.view{
  margin-top: -10px;
  //font-size: 13px;
  margin-bottom: 50px;
  font-style: italic;
}

pre{
  //width: 500px;
  margin-left: 0;
  padding: 8px 8px;
}

figure{
  margin-right: 2px;
  margin-left: 0;
}

.homeIconNav{
  margin-left: auto;
}

.categoHov{
  color:#267CB9;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 30px;

  & ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    left: -5px;
    &:first-child{
      padding-top: 10px;
    }
  }

  & .menuItem{
    box-sizing: border-box;
    display: none;
    list-style: none;
    margin: 0;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    //padding-right: 30px;
    width: 150px;
    border-bottom: 1px solid lightgray;
  }

  &:hover .menuItem{
    display: block;
    width: 100%;
    list-style: none;
  }
}

#toggleMenu{
  display: block;
  list-style: none;
}

.socialIcons{
  margin-top: 40px;
  z-index: 4;
  //padding: 0 10px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIconImg{
  display: block;
  width: 38px;
  height: 38px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  margin: 10px;
}

.socialTwitter{
  @extend .socialIconImg;
  background-image: url(./socialIcons/Tgrey.png);

  &:hover{
    background-image: url(./socialIcons/Tblue.png);
  }
}

.socialYoutube{
  @extend .socialIconImg;
  background-image: url(./socialIcons/Ygrey.png);
  
  &:hover{
    background-image: url(./socialIcons/Yred.png);
  }
}

.socialLinked{
  @extend .socialIconImg;
  background-image: url(./socialIcons/Lgrey.png);
  
  &:hover{
    background-image: url(./socialIcons/Lblue.png);
  }
}

.socialGithub{
  @extend .socialIconImg;
  background-image: url(./socialIcons/Ggrey.png);
  
  &:hover{
    background-image: url(./socialIcons/Gblack.png);
  }
}

.navBar{
  display: flex;
  width: 595px;
  height: 40px;
  background-color: rgb(240, 240, 240);
  position: fixed;
  margin-top: -40px;
  margin-left: -40px;

  & > ul{
    display: flex;
    width: 100%;
    & > li{
      padding-top: 10px;
      margin-right: 20px;
      list-style: none;
    }
  }
}

.wrapper{
  width: 900px;
}

.title{
  text-align: center;
}

.subTitle{
  margin-top: -15px;
  
  text-align: center;
}

section{
  width: 550px;
}

body{
  padding: 30px;  
  overflow-x: hidden;
}

header{
padding: 20px;
padding-top: 40px;
background-color: rgb(240, 240, 240);
height: 100vh;
margin-top: -40px;
}

postheader{
  @extend header;
}

footer{
  text-align: center;
  padding: 20px;
  margin-bottom: -60px;
}

.test {
  width: 100%;
  text-align: right;
}

a{
  background:none;
}

a:hover{
  font-weight: inherit;
  border: none;
  outline: none;
  background:none;
}

a:focus{
  font-weight: inherit;
  border: none;
  outline: none;
  background:none;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  &__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    & > p{
        padding: 0;
        margin: 0;
    }
  }
}

.logoContainer {
  height: 100%;
  display: flex;
  margin: 10px;
  margin-top: 20px;
  border-radius: 50%;
  border: 3px solid white;
}

.logo {
  max-height: 80px;
  clip-path: circle(50% at 50% 50%);
}

@media print, screen and (max-width: 960px) {
  
    .categoHov{
      margin-left: -20px;
    }
   
    .navBar{
      width: 101vw;
      z-index: 5;
      position: sticky;
      top: 0px;
    }
    .wrapper{
      width: 100%;
    }

    header{
      height: 320px;
      margin-left: -40px;
      margin-right: -40px;
    }

    postheader{
      display: none;
    }

    section{
      width: 100%;
      border: none;
    }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
}

@media print, screen and (max-width: 340px) {
  header{
    height: 350px;
  }

  postheader{
    display: none;
  }
}
